<html>
<head>
  <title>File | We can test files</title>
  <link rel="stylesheet" href="/static/backend/common/style.css">
  <link rel="stylesheet" href="/static/backend/vendor/bootstrap.css">
  <link rel="icon" href="/static/backend/img/love.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <div class='login-status-top'>
      현재 로그인 아이디
    </div>
    <div class='login-status-bot' id='login_id'>
      NULL
    </div>
    <div class="tac">
      <button type="button" class="btn btn-dark" onclick='randomLogin()'>랜덤 로그인</button>
      <button type="button" class="btn btn-dark" onclick='logout()'>로그아웃</button>
    </div>
  </div>
  <div class='xfileDiv'>
    <input type="file" class="form-control-file xfile" id="input_file">
  </div>
  <div class='send-file'>
    <button type="button" class="btn btn-outline-dark" onclick='sendFile()'>파일전송</button>
  </div>
</body>
<script src="/static/backend/vendor/jquery.js"></script>
<script src="/static/backend/sample.js"></script>
</html>
